# SPDX-License-Identifier: GPL-2.0
config MVA_OVERLAY
	tristate "Overlay DT blobs for few tests"
	help
	  Compile overlay blobs for few tests. (simple-gauge, few IC drivers).

	  If unsure, say no.

source "drivers/mva-overlay/overlay_dts/Kconfig"
