# SPDX-License-Identifier: GPL-2.0
config MVA_OVERLAY
	tristate "Dynamic DT overlay via sysfs support"
	help
	  Dynamic DT overlay adding helper to support driver development
	  by adding DT overlays on the fly. Allows adding DT overlays to
	  running system. NOTE: You mustäve built the board DT (base DT)
	  with -@ option.

	  If unsure, say no.

source "drivers/mva-overlay/overlay_dts/Kconfig"
